	<footer id="footer">
		<div class="footer-top">
			<div class="wrapper">
				<div class="footer-top-item">
					<h4>Контакты</h4>
					<p class="phone">+38 (073) 154 07 72</p>
					<p class="mail">info@cca.com.ua</p>
					<p class="adress">г. Киев, ул. Строителей 43</p>
				</div>
				<div class="footer-top-item">
					<h4>Місія та завдання</h4>
					<a href="#">Україна-Китай</a>
					<a href="#">Місія і бачення</a>
					<a href="#">Завдання</a>
				</div>
				<div class="footer-top-item">
					<h4>Членство</h4>
					<a href="#">Список членів</a>
					<a href="#">Набуття членства</a>
					<a href="#">Переваги членства</a>
				</div>
				<div class="footer-top-item">
					<h4>Рекомендации</h4>
					<a href="#">Кабинет Министров Украины</a>
					<a href="#">Министерство экономики Украины</a>
					<a href="#">Государственная фискальная служба Украины</a>
					<a href="#">Министерство коммерции КНР</a>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrapper">
				<p>&copy; 2015 Chinese Commerce Association</p>
				<a href="#">Сайт разработан компанией OneHub</a>
			</div>
		</div>
	</footer>
</div>
</body>
</html>