<header id="header">
	<div class="wrapper">
		<div class="header-left">
			<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
			<div class="socials">
				<a href="#"><img src="../img/twitter.png" alt=""></a>
				<a href="#"><img src="../img/facebook.png" alt=""></a>
			</div>
		</div>
		<div class="header-top">
			<form action="#" class="search">
				<input type="search" placeholder="Поиск...">
				<div class="search-submit">
					<input type="submit" value="">
				</div>
			</form>
			<div class="socials">
				<a href="#"><img src="../img/twitter.png" alt=""></a>
				<a href="#"><img src="../img/facebook.png" alt=""></a>
			</div>
			<div class="language">
				<a href="#" class="ru"><img src="../img/ru.png" alt="">ru</a>
				<div class="language-all">
					<a href="#"><img src="../img/ua.png" alt="">ua</a>
					<a href="#"><img src="../img/en.png" alt="">en</a>
					<a href="#"><img src="../img/china.png" alt="">cn</a>
				</div>
			</div>
			<div class="reg-enter">
				<a href="#" class="reg">Регистрация</a>
				<a href="#" class="enter">Вход</a>
			</div>
			<div class="enter-container">
				<form action="#">
					<input type="text" placeholder="Имя пользователя">
					<input type="password" placeholder="Пароль">
					<input type="submit" value="Войти">
				</form>
				<a href="#">Напомнить пароль</a>
			</div>
		</div>
		<div class="header-bottom">
			<nav>
				<ul>
					<li>
						<a href="#">Миссия и задачи</a>
						<div class="header-bottom-submenu">
                            <a href="/about-us">Украина–китай</a>
                            <a href="/forpartners">Миссия и видение</a>
                            <a href="/volonteram">Задачи</a>
                        </div>
					</li>
					<li><a href="#">Информационная поддержка</a></li>
					<li><a href="#">Членство</a></li>
					<li><a href="#">О нас </a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>