//= partials/head.html
//= partials/header.html
		<section class="about-us-banner">
			<div class="about-us-banner-img">
				<img src="../img/au-banner.jpg" alt="">
			</div>				
			<div class="wrapper">
				<div class="about-us-text">
					<h2>Новости</h2>
					<img src="../img/au-border.png" alt="">
					<div class="about-us-text-container">
						<a href="#">Главная</a> <span>&raquo;</span>
						<a href="#">Новости</a>
					</div>
				</div>
			</div>
		</section>
		<section class="news-content">
			<div class="wrapper">
				<h3 class="section-title">Последние новости</h3>
				<a href="#" class="section-category">Все новости компании</a>
				<div class="news">
					<div class="news-item">
						<div class="news-item-img">
							<img src="../img/news.jpg" alt="">
						</div>
						<a href="#" class="news-category">Новости</a>
						<img class="news-img-category" src="../img/video.png" alt="">
						<div class="news-item-text">
							<div class="date">
								<span class="day">15</span>
								<span class="year">07.16</span>
							</div>
							<div class="news-title">
								<h5>Юань становится важной торговой валютой в Китае</h5>
							</div>
						</div>
					</div>
					<div class="news-item">
						<div class="news-item-img">
							<img src="../img/news.jpg" alt="">
						</div>
						<a href="#" class="news-category">Новости</a>
						<img class="news-img-category" src="../img/video.png" alt="">
						<div class="news-item-text">
							<div class="date">
								<span class="day">15</span>
								<span class="year">07.16</span>
							</div>
							<div class="news-title">
								<h5>Юань становится важной торговой валютой в Китае</h5>
							</div>
						</div>
					</div>
					<div class="news-item">
						<div class="news-item-img">
							<img src="../img/news.jpg" alt="">
						</div>
						<a href="#" class="news-category">Новости</a>
						<img class="news-img-category" src="../img/video.png" alt="">
						<div class="news-item-text">
							<div class="date">
								<span class="day">15</span>
								<span class="year">07.16</span>
							</div>
							<div class="news-title">
								<h5>Юань становится важной торговой валютой в Китае</h5>
							</div>
						</div>
					</div>
					<div class="news-item">
						<div class="news-item-img">
							<img src="../img/news.jpg" alt="">
						</div>
						<a href="#" class="news-category">Новости</a>
						<img class="news-img-category" src="../img/video.png" alt="">
						<div class="news-item-text">
							<div class="date">
								<span class="day">15</span>
								<span class="year">07.16</span>
							</div>
							<div class="news-title">
								<h5>Юань становится важной торговой валютой в Китае</h5>
							</div>
						</div>
					</div>
					<div class="news-item">
						<div class="news-item-img">
							<img src="../img/news.jpg" alt="">
						</div>
						<a href="#" class="news-category">Новости</a>
						<img class="news-img-category" src="../img/video.png" alt="">
						<div class="news-item-text">
							<div class="date">
								<span class="day">15</span>
								<span class="year">07.16</span>
							</div>
							<div class="news-title">
								<h5>Юань становится важной торговой валютой в Китае</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="fixtotop"> 
			<div id="totop"></div> 
		</div>
//= partials/footer.html
